<!-- general_settings.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
<style>
      body {
            background-color: #1f1f1f;
            color: #ffffff;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 20px;
        }

        a {
            padding: 10px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            display: inline-block;
        }

        a:hover {
            background-color: #45a049;
        }

    </style>
</head>
<body>
    <header style="max-width: 800px; margin: 20px auto;">
        <div class="headt">
            <h2>STORIA</h2>
        </div>
    </header>
    <main>
    <a class="links" href="{{ url_for('user_settings') }}"> Back to settings</a>
    <h1>General Settings</h1>
    <form method="post">
        <label for="language">Language:</label>
        <input type="text" id="language" name="language" value="{{ user.language }}" required>
        
        <label for="theme">Theme:</label>
        <select id="theme" name="theme">
            <option value="light" {% if user.theme == 'light' %}selected{% endif %}>Light</option>
            <option value="dark" {% if user.theme == 'dark' %}selected{% endif %}>Dark</option>
        </select>
        
        <input type="submit" value="Save General Settings">
    </form>
</main>
</body>
</html>